body {
	background-color: #ccffff;
	margin: 100px;
	padding: 50px;
	border: 10px solid #ffcc00;
	color: #003333;
}

#header {
	text-align: center;
}

#content {
	margin: 30px;
}

a:link {
	color: #ff9966;
}

a:visited {
	color: #ffcc00;
}

a:hover {
	color: #ff7733;
}

a:active {
	color: #cc3300;
}